*{
    box-sizing: border-box;
}

html{
    font-size: 13px;
}

body{
    font-family: 'Barlow Semi Condensed', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

html,body{
    margin: 0px;
    padding: 0px;
}

#container{
    width: 350px;
    display: grid;
    height: 100%;
    grid-gap:10px;
    grid-template-columns: 1fr;
    grid-template-rows: 520px 260px 200px 300px 400px;
}

section{
    border-radius: 16px;
}


.first{
    background-color: hsl(263, 55%, 52%);
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 30px;

   
    
   
}

.image p{
    color: #fff;
    padding-left: 60px;
    padding-top: 2px;
    margin-bottom: 0px;
}



.quote_image{
    position: absolute;
    width: 130px;
    left: 200px;
    top: 2px;
}

.icon{
    width: 40px;
    border-radius: 25px;
    border: 2px solid rgb(180, 162, 162);
    float: left;
}

.grad{
    display: block;
    color:rgb(180, 162, 162);
    padding-top: 2px; 
    font-size: 13px;
    
   
}

.details{
    margin-bottom: 5px;
}

.second{
    background-color: hsl(217, 19%, 35%);
    

  
}

.second .details{
    padding-top: 10px;
    padding-left: 40px;
}

.third{
    background-color: blueviolet;
}

.fourth{
    background-color: brown;
}

.fifth{
    background-color: darkorange;
}

.white_text{
    color: #fff;
    font-size: 23px;
    z-index: 4;
    margin-top: 10px;

}

.grey{
    color: 	rgb(180, 162, 162);
    line-height: 1.5rem;
    font-size: 1.1rem;
    padding-right: 25px;


    
}

.big_white{
    font-size: 20px;
    padding-left: 0px !important;
    padding-right: 50px;

}

.smallgrey{
    padding-left: 0px !important;
    padding-right: 50px;
}


@media screen and (min-width: 1440px){
#container{
    width: 1400px;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 300px 300px;
    grid-gap: 20px;
    grid-template-areas: "f f f b y"
                        "v a a a   y " ;
   
}
.first{
    position: relative;
   grid-area: f;
   padding-right: 40px;
   padding-left: 40px;
}

.quote_image{
    position: absolute;
    left: 500px;
}

.image p{
    margin-top: 0px;
   
}

.grey{
    padding-right: 40px;
}

.white_text{
    margin-bottom: 0px;
    padding-right: 60px;
}

.second{
    grid-area: b;
 
   
}

.third{
    grid-area: v;
}

.fourth{
    grid-area:a;
}

.fifth{
    grid-area: y
}




}
