*{
    box-sizing: border-box;
}

html{
    font-size: 13px;
}

body{
    font-family: 'Barlow Semi Condensed', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

html,body{
    margin: 0px;
    padding: 0px;
}

#container{
    width: 350px;
    display: grid;
    height: 100%;
    grid-gap:10px;
    grid-template-columns: 1fr;
    grid-template-rows: 400px 200px 200px;
}


.first{
    background-color: red;
   
    
   
}

.second{
    background-color: blue;

  
}

.third{
    background-color: blueviolet;
}

.fourth{
    background-color: brown;
}

.fifth{
    background-color: darkorange;
}


@media screen and (min-width: 1440px){
#container{
    width: 1000px;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 200px 200px;
    grid-template-areas: "f f f b b"
                        "v . . . . " ;
   
}
.first{
   grid-area: f;
}

.second{
    grid-area: b;
}

.third{
    grid-area: v;
}




}