*{
    box-sizing: border-box;
}

html{
    font-size: 13px;
}

body{
    font-family: 'Barlow Semi Condensed', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

html,body{
    margin: 0px;
    padding: 0px;
}

#container{
    display: grid;
    height: 100%;
    grid-template-columns: 375px;
    grid-template-rows: repeat(5,200px);
    grid-gap:10px;
}

.first{
    background-color: red;
}

.second{
    background-color: blue;
}

.third{
    background-color: blueviolet;
}

.fourth{
    background-color: brown;
}

.fifth{
    background-color: darkorange;
}